---
layout: default
---

<div>

  <h1>{{ site.data.home.site_name }}</h1>
  <p>{{ site.data.home.tag_line }}</p>
  <p>{{ site.data.home.description }}</p>

</div>


<div>

  <h2>Characters</h2>

  <ul>
    {% for character in site.characters %}
      <li>
        <a href="{{ character.url }}">
          <span>{{ character.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

  <h2>Seasons</h2>

  <ul>
    {% for season in site.seasons %}
      <li>
        <a href="{{ season.url }}">
          <span>{{ season.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
  
  <h2>Episodes</h2>

  <ul>
    {% for episode in site.episodes %}
      <li>
        <a href="{{ episode.url }}">
          <span>{{ episode.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
