---
layout: default
paginate:
  collection: episodes
  per_page: 20
  reversed: true
---

<div class="wrap">
  <div class="grid">
    <div class="grid__cell grid__cell--20">
      <section class="section section--left">
        <h2 class="section__title">Seasons</h2>
        <ul class="nav">
          {% assign seasons = site.seasons | sort: 'title' %}
          {% for season in seasons %}
            <li class="nav__item">
              <a href="{{ season.url }}">{{ season.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>
    <div class="grid__cell grid__cell--80">
      <section class="section">
        <h2 class="section__title">Episodes</h2>
        <div class="grid">
          {% for episode in paginator.episodes %}
            <div class="grid__cell grid__cell--50">
              {% include episode_preview.html episode=episode %}
            </div>
          {% endfor %}
        </div>
        <div class="pagination">
          {% if paginator.previous_page_path %}
            <a href="{{paginator.previous_page_path}}" class="pagination__prev">Previous page</a>
          {% endif %}

          {% if paginator.next_page_path %}
            <a href="{{paginator.next_page_path}}" class="pagination__next">Next page</a>
          {% endif %}
        </div>
      </section>
    </div>
  </div>
</div>
