---
layout: default
---

<div class="wrap">
  <div class="grid">
    <div class="grid__cell grid__cell--20">
      <section class="section section--left">
        <h2 class="section__title">Characters</h2>
        <ul class="nav">
          {% assign characters = site.characters | sort: 'name' %}
          {% for character in characters %}
            <li class="nav__item">
              <a href="{{ character.url }}">{{ character.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </section>
    </div>
    <div class="grid__cell grid__cell--80">
      <section class="section">
        <div class="character">
          <div class="character__image">
            {% if page.image_url %}
              <img src="{{ page.image_url }}" />
            {% endif %}
          </div>
          <h1 class="character__title">{{ page.title }}</h1>
          <ul class="meta">
            <li class="meta__item">
              <strong>Actor:</strong> {{ page.actor_name }}
            </li>
            <li class="meta__item">
              <strong>Number of episodes:</strong> {{ page.episodes }}
          </ul>
          <div class="character__content">
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
